<%- include('../partials/header') %> <%- include('../partials/nav') %>

<!-- inclues function ta <%-  %> ei tag er modde  likhtee hoi er maddome duplicate code ekta jaiga theke bar bar use kora jai  -->
<h2>This is about page</h2>

<%- include('../partials/footer') %>
